<div id="projects">
<div class="square"><h4><a href="https://github.com/antivapor/UCF-Senior-Design">UCF-Senior-Design</a></h4>
<p>EECS Senior Design at UCF 2012</p></div>
<div class="square"><h4><a href="https://github.com/antivapor/uwave">uwave</a></h4>
<p>uWave theremin</p></div>
<div class="square"><h4><a href="https://github.com/antivapor/sensebox">sensebox</a></h4>
<p>A pitch-to-MIDI converter</p></div>
<div class="square"><h4><a href="https://github.com/antivapor/expandome">expandome</a></h4>
<p>A modular OSC controller</p></div>
<div class="square"><h4><a href="https://github.com/antivapor/emi-browser">emi-browser</a></h4>
<p>A debugging and interaction tool for the Expandome, SenseBox and uWave theremin</p></div>
<div class="square"><h4><a href="https://github.com/antivapor/roanoke">roanoke</a></h4>
<p>A tasty treatise between English and American IPA's, this is our Roanoke's Lost Pale Ale recipe</p></div>
</div>
